// Note: This file is used to define the basic style of the project, such as font, color, etc.

@mixin fonts {
  --s-radius-xxs: 4px;
  --s-radius-xs: 10px;
  --s-radius-s: 12px;
  --s-radius-m: 16px;
  --s-radius-l: 20px;
  --s-radius-xl: 24px;
  --s-radius-xxl: 32px;
  --s-radius-xxxl: 36px;

  --s-font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, SF Pro SC, SF Pro Display,
    SF Pro Icons, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif;

  /* font-weight font-size/line height font-family */
  --s-font-h1: 600 24px/36px var(--s-font-family);
  --s-font-h2: 600 20px/30px var(--s-font-family);
  --s-font-h3: 600 16px/24px var(--s-font-family);
  --s-font-h4: 600 12px/14px var(--s-font-family);

  --s-font-large: 400 20px/28px var(--s-font-family);
  --s-font-base: 400 15px/24px var(--s-font-family);
  --s-font-base-strong: 500 15px/24px var(--s-font-family);
  --s-font-small: 400 14px/22px var(--s-font-family);
  --s-font-small-strong: 500 14px/22px var(--s-font-family);

  --s-font-xs: 400 12px/18px var(--s-font-family);
  --s-font-xs-strong: 500 12px/18px var(--s-font-family);
}

/*
在minxin中使用 $primary 会导致无效 即使通过函数传参也还是无效
需要解决 --s-color-primary: $primary 无效
*/

@mixin base-theme {
  @include fonts;
  // 主题色由浅到深分为五个阶梯
  --s-color-primary-lighter: #c1e1ff;
  --s-color-primary-light: #73b3ff;
  --s-color-primary: #409eff;
  --s-color-primary-dark: #1952cc;
  --s-color-primary-darker: #003a8c;

  --s-color-text-primary: #333;
  --s-color-bg-primary: #f5f5f5;
  --s-color-border-primary: #e8e8e8;
}

@mixin dark-theme {
  @include fonts;
  --s-color-primary-lighter: #c1e1ff;
  --s-color-primary-light: #73b3ff;
  --s-color-primary: #409eff;
  --s-color-primary-dark: #1952cc;
  --s-color-primary-darker: #003a8c;

  --s-color-text-primary: #fff;
  --s-color-bg-primary: #1a1a1a;
  --s-color-border-primary: #333;
}
