// 定义默认的主题变量
$primary-lighter: #c1e1ff;
$primary-light: #73b3ff;
$primary: #409eff;
$primary-dark: #1952cc;
$primary-darker: #003a8c;

// element-plus 主题色
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$error: #f56c6c;
$info: #909399;
